* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Lato", sans-serif;
}

/*TODO Header */
header {
  background-color: rgba(19, 19, 19, 0.918);
  top: 0;
  box-shadow: 2px 2px 15px rgba(82, 81, 81, 0.877);
  display: flex;
  justify-content: space-between;
}
header li {
  padding: 0 10px;
}
header img {
  width: 70px;
}

/* TODO Secciones Main*/
/* Banner */
#banner {
  height: 60vh;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#banner .bannerTitulo {
  font-size: 2.5rem;
  text-align: center;
}
#banner button {
  text-decoration: none;
  background-color: rgb(61, 61, 61);
  color: rgb(167, 167, 167);
  padding: 5px 12px;
  border-radius: 15px;
}
#banner button:hover {
  background-color: rgb(61, 61, 61);
  color: #cac9c9;
  text-decoration: none;
  box-shadow: 2px 2px 15px rgb(187, 186, 186);
}
#banner p {
  text-align: center;
  margin: 30px 0;
  font-size: 1.3rem;
  font-style: italic;
  max-width: 70%;
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggler {
  color: rgba(27, 28, 28, 0.65);
}

.bg-dark1 {
  --bs-bg-opacity: 0;
}

.navbar-nav {
  text-align: right;
}

.navbar-toggler-icon {
  background-color: rgba(124, 124, 124, 0.568627451);
  border-radius: 5px;
}

/* Servicios */
.tool {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 15px;
  width: 350px;
}

section h2 {
  text-align: center;
}

.tools {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 2px 2px 15px rgb(206, 206, 206);
  border-radius: 20px;
  height: 300px;
  width: 300px;
  margin: 20px;
}

/* TODO PAGINA SERVICIOS **/
.servi {
  margin: 20px;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size, 14rem), 1fr));
  padding: 0;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
}
.services::before {
  background: linear-gradient(to top, hsla(0, 0%, 0%, 0.79) 0%, hsla(0, 0%, 0%, 0.787) 7.8%, hsla(0, 0%, 0%, 0.779) 14.4%, hsla(0, 0%, 0%, 0.765) 20.2%, hsla(0, 0%, 0%, 0.744) 25.3%, hsla(0, 0%, 0%, 0.717) 29.9%, hsla(0, 0%, 0%, 0.683) 34.3%, hsla(0, 0%, 0%, 0.641) 38.7%, hsla(0, 0%, 0%, 0.592) 43.3%, hsla(0, 0%, 0%, 0.534) 48.4%, hsla(0, 0%, 0%, 0.468) 54.1%, hsla(0, 0%, 0%, 0.393) 60.6%, hsla(0, 0%, 0%, 0.31) 68.3%, hsla(0, 0%, 0%, 0.216) 77.3%, hsla(0, 0%, 0%, 0.113) 87.7%, hsla(0, 0%, 0%, 0) 100%);
  transition: 300ms opacity linear;
}
.services img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}
.services h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  transition: 300ms transform ease;
  transform: translateY(2ex);
}

.services:hover :is(h2),
.services:focus :is(h2) {
  transform: none;
}

.services:hover img,
.services:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}

article ul {
  list-style: none;
}

/*TODO PAGINA PROMOCIONES **/
.promociones {
  font-family: "Raleway", sans-serif;
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-areas: "bannerPromo promos15 textpromos15" "bannerPromo promos20 textpromos20" "bannerPromo promos25 textpromos25" "bannerPromo promos50 textpromos50";
  grid-template-columns: 150px auto 300px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bannerPromo {
  background-color: rgba(19, 19, 19, 0.808);
  display: flex;
  flex-direction: column;
  grid-area: bannerPromo;
  align-items: center;
}
.bannerPromo i {
  color: #fbfbfb;
}
.bannerPromo ul {
  list-style: none;
  flex-direction: column;
  padding-left: 0;
  padding-top: 10px;
}
.bannerPromo ul li {
  font-size: 1.2rem;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}
.bannerPromo ul li:hover {
  background-color: rgba(226, 164, 30, 0.5019607843);
  font-size: 1.2rem;
  width: 100%;
  height: 100px;
  display: flex;
  color: #000;
}
.bannerPromo ul li a {
  text-decoration: none;
  color: #fbfbfb;
}

h4 {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfb;
}

h6 {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbfbfb;
}

.promos15 {
  grid-area: promos15;
  background-color: #e2a41e;
}

.promos20 {
  grid-area: promos20;
  background-color: #e25c1e;
}

.promos25 {
  grid-area: promos25;
  background-color: #e2a41e;
}

.promos50 {
  grid-area: promos50;
  background-color: #e25c1e;
}

.textpromos15 {
  grid-area: textpromos15;
  text-align: justify;
  padding: 0 1.3rem;
  height: 360px;
  display: flex;
  align-items: center;
  background-color: #e2a41e;
}

.textpromos20 {
  grid-area: textpromos20;
  text-align: justify;
  padding: 0 1.3rem;
  height: 360px;
  display: flex;
  align-items: center;
  background-color: #e25c1e;
}

.textpromos25 {
  grid-area: textpromos25;
  text-align: justify;
  padding: 0 1.3rem;
  height: 360px;
  display: flex;
  align-items: center;
  background-color: #e2a41e;
}

.textpromos50 {
  grid-area: textpromos50;
  text-align: justify;
  padding: 0 1.3rem;
  height: 360px;
  display: flex;
  align-items: center;
  background-color: #e25c1e;
}

aside p {
  color: #fbfbfb;
}

section img {
  width: 48%;
  height: 300px;
  object-fit: cover;
}

.img15 {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

/**** MENOR A 1024 *****/
@media screen and (max-width: 1024px) {
  .promociones {
    grid-template-areas: "promos15 aside" "promos20 aside" "promos25 aside" "promos50 aside";
    grid-template-columns: auto 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  section img {
    width: 49%;
    height: 290px;
    object-fit: cover;
  }
  .bannerPromo {
    display: none;
  }
  .navbar-toggler-icon {
    background-color: rgba(124, 124, 124, 0.568627451);
    border-radius: 5px;
  }
}
/**** MENOR A 768 *****/
@media screen and (max-width: 768px) {
  .promociones {
    grid-template-areas: "promos15" "promos20" "promos25" "promos50" "aside";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .navbar-toggler-icon {
    background-color: rgba(124, 124, 124, 0.568627451);
    border-radius: 5px;
  }
  section img {
    width: 90%;
    height: 350px;
    object-fit: cover;
  }
  .img15 {
    flex-wrap: wrap;
    display: flex;
  }
}
/*TODO PAGINA QUINES SOMOS **/
.sobrenosotros {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  margin: 24px;
  max-width: 1000px;
  position: relative;
}
.sobrenosotros img {
  height: auto;
  width: 100%;
}

.sobrenosotros > * {
  grid-column: 1/span 2;
}

.header {
  background-color: #cac9c9;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.articulo {
  text-align: right;
}

.imagen-1 {
  grid-row: 2/3;
}

.articulo-1,
.articulo-4 {
  grid-column: 2/3;
}

.imagen-2,
.number-2 {
  align-self: end;
}

.imagen-3 img {
  height: 100%;
}

@media (min-width: 768px) {
  .sobrenosotros {
    grid-template-columns: repeat(2, 1fr 2fr);
    margin: 24px auto;
  }
  .header {
    grid-column: 3/5;
    width: 70%;
    background-color: #cac9c9;
  }
  .imagen-1 {
    grid-row: 1/3;
  }
  .articulo-1 {
    grid-row: 3/4;
  }
  .articulo-2 {
    grid-column: 4/5;
    grid-row: 4/5;
  }
  .imagen-2,
  .number-2 {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .imagen-3,
  .number-3 {
    grid-row: 4/6;
  }
  .imagen-4,
  .number-4 {
    grid-column: 3/5;
    grid-row: 5/6;
  }
  .articulo-3,
  .articulo-4 {
    grid-row: 6/7;
  }
  .articulo-4 {
    grid-column: 4/5;
  }
}
/*TODO PAGINA DE CONTACTANOS**/
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 69px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

.formulario input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2a41e;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
.formulario label {
  display: block;
  float: center;
}
.formulario button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #615e60;
  border-color: rgba(226, 164, 30, 0.3568627451);
  border-style: solid;
  border-radius: 10px;
  width: 420px;
}
.formulario button p {
  color: #fbfbfb;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #e2a41e;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {
  /* Banner */
  #banner .bannerTitulo {
    font-size: 1.3rem;
    text-align: center;
  }
  #banner p {
    text-align: center;
    margin: 30px 0;
    font-size: 0.9rem;
    font-style: italic;
    max-width: 70%;
  }
  #banner button {
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    color: #fbfbfb;
    padding: 4px 7px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
