@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Lato", sans-serif;
}

/*TODO Header */
header {
  background-color: rgba(19, 19, 19, 0.918);
  top: 0;
  box-shadow: 2px 2px 15px rgba(82, 81, 81, 0.877);
  display: flex;
  justify-content: space-between;
}
header li {
  padding: 0 10px;
}
header img {
  width: 70px;
}

/* TODO Secciones Main*/
/* Banner */
#banner {
  height: 60vh;
  background: linear-gradient(#252525, #9b9999);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#banner .bannerTitulo {
  font-size: 2.5rem;
  text-align: center;
  color: #bbb9b9;
}
#banner button {
  text-decoration: none;
  background-color: rgb(61, 61, 61);
  color: rgb(219, 217, 217);
  padding: 5px 12px;
  border-radius: 15px;
}
#banner button:hover {
  background-color: rgb(61, 61, 61);
  color: #cac9c9;
  text-decoration: none;
  box-shadow: 2px 2px 15px rgb(187, 186, 186);
}
#banner p {
  text-align: center;
  margin: 30px 0;
  font-size: 1.3rem;
  font-style: italic;
  max-width: 70%;
  color: #c4c4c4;
}

.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: flex-end;
}

.navbar-toggler {
  color: rgba(27, 28, 28, 0.65);
}

.bg-dark1 {
  --bs-bg-opacity: 0;
}

.navbar-nav {
  text-align: right;
}

.navbar-toggler-icon {
  background-color: rgba(124, 124, 124, 0.568627451);
  border-radius: 5px;
}

/* Servicios */
.tool {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1840px;
  margin: 0 auto;
}

.card {
  margin: 15px 10px;
  width: 350px;
}

section h2 {
  text-align: center;
}

.tools {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 2px 2px 15px rgb(206, 206, 206);
  border-radius: 20px;
  height: 300px;
  width: 300px;
  margin: 20px;
}

/* TESTIMONIOS */
.testimonios_cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.testimonios {
  background-color: rgba(80, 79, 79, 0.6980392157);
  text-align: center;
  margin-top: 30px;
  padding-top: 50px;
}

figure.testimonio_content {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}

figure.testimonio_content * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.testimonio_content img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}

figure.testimonio_content blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.testimonio_content blockquote:before,
figure.testimonio_content blockquote:after {
  font-family: "FontAwesome";
  content: "“";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.testimonio_content blockquote:before {
  top: 35px;
  left: 20px;
}

figure.testimonio_content blockquote:after {
  content: "”";
  right: 20px;
  bottom: 35px;
}

figure.testimonio_content .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

figure.testimonio_content .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.testimonio_content .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

/* NUESTRAS MARCAS ASOCIADAS */
.marcas_asociadas {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 10px;
}

.testimonial-thumb img {
  width: 120px;
  max-width: 180px;
  border-radius: 210px;
  border: 5px solid rgba(80, 79, 79, 0.6980392157);
}

@media screen and (max-width: 1099px) {
  .marcas_asociadas {
    margin: 0;
    padding: 0 4rem;
  }
}
@media screen and (max-width: 320px) {
  .marcas_asociadas {
    margin: 0 2rem;
  }
}
/* footer */
footer {
  padding: 1rem 1rem;
}

/* TODO PAGINA SERVICIOS **/
.services {
  min-height: 100vh;
  padding: 3rem 5rem 0 3rem;
  position: relative;
}

.services::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 38vw;
  background-image: linear-gradient(to bottom, #ff9a58, #ff2f56);
}

.container {
  max-width: 1100px;
  margin: auto;
}

.section-title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 900;
  background: linear-gradient(#ff9a58, #ff2f56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-services {
  margin-top: 5rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-services .service-box {
  background-color: #FFF;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  max-width: 350px;
  position: relative;
  transition: box-shadow 0.2s linear;
}

.list-services .service-box:hover {
  box-shadow: 0 16px 15px -15px #ff2f56;
}

.list-services .service-box:not(:last-of-type) {
  margin-bottom: 4rem;
}

.list-services .service-box .icon {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: #000;
  text-align: center;
  line-height: 80px;
  color: #FFF;
  top: -40px;
  right: -40px;
}

.list-services .service-box .text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #a0a0a0;
}

.list-services .service-box .title {
  background: linear-gradient(15deg, #ff9a58, #ff2f56);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.99rem;
  font-weight: 900;
  transform: scaleY(1.05);
}

@media screen and (min-width: 910px) {
  .list-services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .list-services .service-box {
    max-width: 310px;
  }
}
@media screen and (min-width: 1020px) {
  .list-services {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .list-services .service-box {
    width: 29%;
    margin: 0 !important;
  }
}
@media screen and (max-width: 425px) {
  .section-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(#ff9a58, #ff2f56);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*TODO PAGINA GALERIA **/
.container-slide {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(#ff9a58, #ff2f56);
}

.container-slide input[type=radio] {
  display: none;
}

label[for*=rd-slide] {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 40px;
  cursor: pointer;
  font-size: 3em;
  font-weight: bold;
  padding: 5px 30px;
  position: absolute;
  right: 40px;
  transition: all 0.3s;
}

label[for*=rd-slide]:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

label[for*=rd-slide].voltar {
  left: 40px;
  right: auto;
}

label[for*=rd-slide] > i {
  color: #fff;
  transition: all 0.3s;
}

.slide {
  display: flex;
  transition: all 0.4s;
  width: 300%;
}

.slide > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 2em;
  position: relative;
  width: 80%;
}

.slide > section > h3 {
  font-family: "Lalezar", cursive;
  font-size: 4em;
}

.slide > section > p {
  color: #fff;
  font-size: 1.7em;
  margin-left: 2em;
  max-width: 600px;
}

#rd-slide-1:checked ~ .slide {
  margin-left: 0%;
}

#rd-slide-1:checked ~ .slide > .box-radio > label[for=rd-slide-1] {
  background-color: rgba(255, 255, 255, 0.8);
}

#rd-slide-2:checked ~ .slide {
  margin-left: -100%;
}

#rd-slide-2:checked ~ .slide > .box-radio > label[for=rd-slide-2] {
  background-color: rgba(255, 255, 255, 0.8);
}

#rd-slide-3:checked ~ .slide {
  margin-left: -200%;
}

#rd-slide-3:checked ~ .slide > .box-radio > label[for=rd-slide-3] {
  background-color: rgba(255, 255, 255, 0.8);
}

/* SECTION GALLERY */
.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F2EFDC;
  border: 2px solid #ff2f56;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  filter: grayscale(100%);
}

.gallery img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.gallery p {
  margin: 15px 0;
  padding: 0;
  text-align: center;
}

.gallery-item:hover {
  filter: none;
  transform: scale(1.04);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
  padding-top: 30px;
}

@media only screen and (min-width: 768px) {
  /*Tablet styles goes here*/
  .container-slide {
    height: auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#ff9a58, #ff2f56);
  }
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
}
/*TODO PAGINA QUINES SOMOS **/
.sobrenosotros {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  margin: 24px;
  max-width: 1000px;
  position: relative;
}
.sobrenosotros img {
  height: auto;
  width: 100%;
}

.sobrenosotros > * {
  grid-column: 1/span 2;
}

.header {
  background: linear-gradient(#ff9a58, #ff2f56);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.articulo {
  text-align: right;
}

.imagen-1 {
  grid-row: 2/3;
}

.articulo-1,
.articulo-4 {
  grid-column: 2/3;
}

.imagen-2,
.number-2 {
  align-self: end;
}

.imagen-3 img {
  padding-top: 10px;
  height: 90%;
}

@media (min-width: 768px) {
  .sobrenosotros {
    grid-template-columns: repeat(2, 1fr 2fr);
    margin: 24px auto;
  }
  .header {
    grid-column: 3/5;
    width: 100%;
    background: linear-gradient(#ff9a58, #ff2f56);
    text-align: center;
    height: 150px;
    padding: 0 10px;
  }
  .imagen-1 {
    grid-row: 1/3;
  }
  .articulo-1 {
    grid-row: 3/4;
  }
  .articulo-2 {
    text-align: left;
    grid-column: 3/5;
    grid-row: 4/5;
  }
  .imagen-2,
  .number-2 {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .imagen-3,
  .number-3 {
    grid-row: 4/6;
  }
  .imagen-4,
  .number-4 {
    grid-column: 3/5;
    grid-row: 5/6;
  }
  .articulo-3,
  .articulo-4 {
    grid-row: 6/7;
  }
  .articulo-4 {
    text-align: left;
    grid-column: 3/5;
  }
}
/*TODO PAGINA DE CONTACTANOS**/
.info-column li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sec-title {
  position: relative;
  padding-bottom: 40px;
}

.sec-title .title {
  position: relative;
  color: rgba(19, 19, 19, 0.918);
  font-size: 18px;
  font-weight: 700;
  padding-right: 50px;
  margin-bottom: 15px;
  display: flex;
  text-transform: capitalize;
}

.sec-title .title:before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 7px;
  width: 40px;
  height: 1px;
  background-color: #bbb;
}

.sec-title h2 {
  position: relative;
  color: #252525;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5em;
  display: block;
}

.sec-title.light h2 {
  color: #fff;
}

.contact-page-section {
  position: relative;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contact-page-section .inner-container {
  position: relative;
  z-index: 1;
  background: linear-gradient(#ff9a58, #ff2f56);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.contact-page-section .form-column {
  position: relative;
  padding: 0 0 0 15px;
}

.contact-page-section .form-column .inner-column {
  position: relative;
  padding: 60px 45px 30px;
  background-color: #fff;
}

.contact-page-section .info-column {
  position: relative;
}

.contact-page-section .info-column .inner-column {
  position: relative;
  padding: 60px 35px;
}

.contact-page-section .info-column h2 {
  position: relative;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 45px;
}

.contact-page-section .info-column .list-info {
  position: relative;
  margin-bottom: 60px;
}

.contact-page-section .info-column .list-info li {
  position: relative;
  margin-bottom: 25px;
  font-size: 18px;
  color: #fff;
  line-height: 1.8em;
  padding-left: 45px;
}

.contact-page-section .info-column .list-info li:last-child {
  margin-bottom: 0;
}

.contact-page-section .info-column .list-info li i {
  position: absolute;
  left: 0;
  top: 8px;
  color: #fff;
  font-size: 30px;
}

.contact-form {
  position: relative;
}

.contact-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  color: #222;
  font-size: 14px;
  line-height: 38px;
  padding: 10px 30px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
  border-color: rgba(19, 19, 19, 0.918);
}

.contact-form textarea {
  height: 250px;
  resize: none;
}

.contact-form .theme-btn {
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 16px 39px;
  border: 2px solid linear-gradient(#ff9a58, #ff2f56);
  font-family: Arimo, sans-serif;
  background: linear-gradient(#ff9a58, #ff2f56);
  display: flex;
  position: relative;
  line-height: 24px;
  cursor: pointer;
  color: #fff;
}

.contact-form .theme-btn:hover {
  color: rgba(19, 19, 19, 0.918);
  border-color: linear-gradient(#ff9a58, #ff2f56);
  background: 0 0;
}

.social-icon-four {
  position: relative;
}

.social-icon-four li {
  position: relative;
  margin-right: 18px;
  display: inline-block;
}

.social-icon-four li.follow {
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}

.social-icon-four li a {
  position: relative;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social-icon-four li a:hover {
  color: #222;
}

/*TODO FIN PAGINA DE CONTACTANOS**/
@media screen and (max-width: 768px) {
  /* Banner */
  #banner .bannerTitulo {
    font-size: 1.3rem;
    text-align: center;
  }
  #banner p {
    text-align: center;
    margin: 30px 0;
    font-size: 0.9rem;
    font-style: italic;
    max-width: 70%;
  }
  #banner button {
    text-decoration: none;
    background-color: rgb(61, 61, 61);
    color: #fbfbfb;
    padding: 4px 7px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
