* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
}

/*TODO Header */
header {
    background-color: rgba(19, 19, 19, 0.918);
    top: 0;
    box-shadow: 2px 2px 15px rgba(82, 81, 81, 0.877);
    display: flex;
    justify-content: space-between;

    li {
        padding: 0 10px;
    }

    img {
        width: 40%;
    }
}

/* TODO Secciones Main*/
/* Banner */

#banner {
    height: 60vh;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bannerTitulo {
        font-size: 2.5rem;
        text-align: center;
    }

    button {
        text-decoration: none;
        background-color: rgb(61, 61, 61);
        color: rgb(167, 167, 167);
        padding: 5px 12px;
        border-radius: 15px;

        &:hover {
            background-color: rgb(61, 61, 61);
            color: #cac9c9;
            text-decoration: none;
            box-shadow: 2px 2px 15px rgb(187, 186, 186);
        }
    }

    p {
        text-align: center;
        margin: 30px 0;
        font-size: 1.3rem;
        font-style: italic;
        max-width: 70%;
    }
}

.navbar-toggler-icon {
    background-color: #7c7c7c91;
    border-radius: 5px;
}

/* Servicios */
.tool {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 15px;
    width: 350px;
}

section h2 {
    text-align: center;
}

.tools {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 2px 2px 15px rgb(172, 172, 172);
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin: 20px;
}

/* TODO PAGINA SERVICIOS **/

.servi {
    max-width: 90%;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 0.1rem;

    p {
        text-align: center;
        font: 1.2em sans-serif;
    }
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}

.item-a {
    grid-row: 1 / 3;

    &:hover {
        box-shadow: 2px 2px 7px rgb(243, 235, 148);
    }
}

.item-b {
    grid-column: 3 / 5;
    background-color: rgb(71, 184, 184);

    h4 {
        text-align: center;
        padding: 40px 60px;
        color: #fbfbfb;
    }
}

.item-c {
    grid-row: 2 / 4;

    &:hover {
        box-shadow: 2px 2px 7px rgb(243, 235, 148);
    }
}

.item-d {
    grid-column: 3 / 5;

    &:hover {
        box-shadow: 2px 2px 7px rgb(175, 213, 228);
    }
}

.item-e {
    grid-column: 1 / 3;

    &:hover {
        box-shadow: 2px 2px 7px rgb(187, 220, 235);
    }
}

.item-f {
    grid-column: 3 / 5;
}

/*TODO PAGINA PROMOCIONES **/
.promociones {
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-areas:
        "bannerPromo promos15 textpromos15"
        "bannerPromo promos20 textpromos20"
        "bannerPromo promos25 textpromos25"
        "bannerPromo promos50 textpromos50";
    grid-template-columns: 150px auto 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bannerPromo {
    background-color: rgba(19, 19, 19, 0.808);
    display: flex;
    flex-direction: column;
    grid-area: bannerPromo;
    align-items: center;

    i {
        color: #fbfbfb;
    }

    ul {
        list-style: none;
        flex-direction: column;
        padding-left: 0;
        padding-top: 10px;

        li {
            font-size: 1.2rem;
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            text-align: center;

            &:hover {
                background-color: #e2a41e80;
                font-size: 1.2rem;
                width: 100%;
                height: 100px;
                display: flex;
                color: #000;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

h4 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
}

h6 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
}

.promos15 {
    grid-area: promos15;
    background-color: #e2a41e;
}

.promos20 {
    grid-area: promos20;
    background-color: #e25c1e;
}

.promos25 {
    grid-area: promos25;
    background-color: #e2a41e;
}

.promos50 {
    grid-area: promos50;
    background-color: #e25c1e;
}

.textpromos15 {
    grid-area: textpromos15;
    text-align: justify;
    padding: 0 1.3rem;
    height: 360px;
    display: flex;
    align-items: center;
    background-color: #e2a41e;
}

.textpromos20 {
    grid-area: textpromos20;
    text-align: justify;
    padding: 0 1.3rem;
    height: 360px;
    display: flex;
    align-items: center;
    background-color: #e25c1e;
}

.textpromos25 {
    grid-area: textpromos25;
    text-align: justify;
    padding: 0 1.3rem;
    height: 360px;
    display: flex;
    align-items: center;
    background-color: #e2a41e;
}

.textpromos50 {
    grid-area: textpromos50;
    text-align: justify;
    padding: 0 1.3rem;
    height: 360px;
    display: flex;
    align-items: center;
    background-color: #e25c1e;
}

aside p {
    color: #fbfbfb;
}

section img {
    width: 48%;
    height: 300px;
    object-fit: cover;
}

.img15 {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

/**** MENOR A 1024 *****/
@media screen and (max-width: 1024px) {
    .promociones {
        grid-template-areas:
            "promos15 aside"
            "promos20 aside"
            "promos25 aside"
            "promos50 aside";
        grid-template-columns: auto 200px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    section img {
        width: 49%;
        height: 290px;
        object-fit: cover;
    }

    .bannerPromo {
        display: none;
    }

    .navbar-toggler-icon {
        background-color: #7c7c7c91;
        border-radius: 5px;
    }
}

/**** MENOR A 768 *****/
@media screen and (max-width: 768px) {
    .promociones {
        grid-template-areas:
            "promos15"
            "promos20"
            "promos25"
            "promos50"
            "aside";
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .navbar-toggler-icon {
        background-color: #7c7c7c91;
        border-radius: 5px;
    }

    section img {
        width: 90%;
        height: 350px;
        object-fit: cover;
    }

    .img15 {
        flex-wrap: wrap;
        display: flex;
    }
}

/*TODO PAGINA QUINES SOMOS **/

/* BannerS*/
.misionvision {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bannerMisionVision {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 125vh;
    margin: 20px;
}

.bannerMisionVision p {
    max-width: 400px;
}

.bannerMisionVision iframe {
    padding: 20px;
    width: 100%;
    height: 300px;
}

.bannerMisionVision img {
    width: 350px;
    margin: 20px 0;
}

/*TODO PAGINA DE CONTACTANOS**/
.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 69px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
}

.formulario input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e2a41e;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #e2a41e;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

.formulario label {
    display: block;
    float: center;
}

.formulario button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #615e60;
    border-color: #e2a41e5b;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
}

.formulario button p {
    color: #fff;
}

@media screen and (max-width: 768px) {
    /* Banner */

    #banner .bannerTitulo {
        font-size: 1.3rem;
        text-align: center;
    }

    #banner p {
        text-align: center;
        margin: 30px 0;
        font-size: 0.9rem;
        font-style: italic;
        max-width: 70%;
    }

    #banner button {
        text-decoration: none;
        background-color: rgb(61, 61, 61);
        color: white;
        padding: 4px 7px;
        border-radius: 10px;
    }
}